#appointments {
  position: relative;
  max-width: 55rem;
  width: 100%;
  padding-top: 4.25rem;
  padding-bottom: 6rem;

  display: flex;
  flex-direction: column;
  gap: 1.5rem;

  margin-inline: auto;
}

#appointments .header-wrapper {
  display: flex;
  flex-direction: column;
  width: 100%;
}

#appointments > .header-wrapper > header {
  display: flex;
  align-items: flex-start;
  gap: 1rem;
  flex-direction: column;
  width: 100%;
}

#appointments > .header-wrapper > header .title {
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
}

#appointments > .header-wrapper > header h1 {
  font: var(--font-title);
  color: var(--content-primary);
}

#appointments > .header-wrapper > header p {
  font: var(--font-paragraph-md);
  color: var(--content-secondary);
}

.periods {
  display: flex;
  flex-direction: column;
  list-style-type: none;
  gap: 0.75rem;
  width: 100%;
}

.periods .card{
  width: 100%;
  border-radius: 0.75rem;
  background-color: var(--background-tertiary);

  min-height: 6rem;
}

.appointment-list {
  display: flex;
  flex-direction: column;
  list-style: none;
  gap: 0.25rem;
}

.appointment-list header{
  display: flex;
  justify-content: flex-start;
  width: 100%;
  gap: 0.75rem;
  padding-inline: 1.5rem;
  padding-block: 0.75rem;
  border-bottom: 1px solid var(--border-primary);
}

.appointment-list header h2 {
  width: 100%;
  font: var(--font-label-lg);
  color: var(--content-primary);
}

.appointment-list header span {
  margin-left: auto;
  font: var(--font-label-lg);
  color: var(--content-secondary);
}

.appointment-item {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  padding-block: 0.25rem;
  margin-block: 0.5rem;
  margin-left: 1.5rem;
  margin-right: 1.5rem;
  align-items: center;
  border-bottom: 1px solid var(--border-divisor);
}

.appointment-info {
  display: flex;
  flex-direction: row;
  
  width: 100%;
  column-gap: 1.25rem
}

.info-wrapper {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  width: 100%;
  justify-content: space-between;
  gap: 0.25rem;
}

.info-wrapper p{
  min-width: max-content;
}

.client-wrapper {
  display: flex;
  flex-direction: row;
  gap: 0.25rem;
}

.appointment-info  p {
  font: var(--font-paragraph-sm);
  color: var(--content-secondary);
}

.appointment-info  .appointment-time, 
.appointment-info  .appointment-pet {
  font: var(--font-label-sm);
  color: var(--content-primary);
}

@media (width > 768px) {
  #appointments > .header-wrapper > header {
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
  }
}