button {
  display: flex;
  align-items: center;
  justify-content: center;
  width: max-content;

  padding-inline: 1.5rem;
  padding-block: 0.75rem;
  border-radius: 0.5rem;

  background-color: var(--background-brand);
  color: var(--content-dark);
  text-transform: uppercase;
  font: var(--font-label-lg);

  border: none;
}

button:hover, button:focus {
  background-color: var(--background-highlights);
  outline: none;
}

.close-button {
  position: absolute;
  top: .25rem;
  right: .25rem;

  width: 2.5rem;
  height: 2.5rem;
  cursor: pointer;
}

.close-button:hover, .close-button:focus {
  filter: brightness(1.4);
  outline: none;
}

.cancel-button{
  width: 2rem;
  height: 2rem;
  cursor: pointer;
}

.cancel-button:hover, .cancel-button:focus {
  filter: brightness(1.4);
  outline: none;
}