.input {
  display: flex;
  gap: 0.5rem;
  align-items: center;
  position: relative;

  padding: 0.75rem;
  border-radius: 0.5rem;
  border: 1px solid var(--border-primary);
  background-color: var(--background-primary);
}

input, select{
  border: none;
  outline: none;
  background-color: transparent;
  width: 100%;
}

select:has([value="placeholder"]:checked) {
  color: var(--content-secondary);
}

input[type="date"]::-webkit-calendar-picker-indicator {
  opacity: 0;
  cursor: pointer;
}

input[type="date"]::-moz-calendar-picker-indicator {
  opacity: 0;
  cursor: pointer;
}

.input > img[src="assets/arrow.svg"] {
  background-color: var(--background-primary);
  position: absolute;
  right: 0.75rem;
  width: 1.25rem;
  height: 1.25rem;
  pointer-events: none;
}