.warning {
  display: flex;
  width: 100%;
  background-color: var(--accent-warning);
  padding: 0.5rem;
  border-radius: 0.5rem;
  margin-top: 0.5rem;
}

.warning-icon {

  flex-shrink: 0;
  width: 1.5rem;
  height: 1.5rem;
  border-radius: 50%;
  display: flex;
  align-content: center;
  justify-content: center;
  background: var(--accent-warning);
  border: 2px solid white;
  color: white;
  line-height: 1rem;
  font-weight: bold;
}

.warning-message {
  margin-left: 0.75rem;
  color: white;
}